# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.egg-info/
dist/
build/
*.egg

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Entorno virtual
venv/
env/
ENV/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Otros
.env
.DS_Store
*.bak
*.tmp

# Railway
.railway/